.note-status__div{
    list-style: none;
    gap:20px;
    display: flex;
    justify-content: center;
  }
  .note-status__div li{
    border: none;
    background-color: transparent;
  }
  .note-status__div li:hover{
    background-color: #f1eeee;
    cursor: pointer;
    border-radius: 10px;
    transition: all ease-in-out 0.5ms;
  }