.textfield{
    border: 1px solid gainsboro;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
  }
  .btn-style{
    width: 70%;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-family: Nunito , sans-serif;
    border: none;
    background-color:  rgb(97, 97, 201);
    transition: all ease-in-out 0.6ms;
  }
  .color-input{
    outline: none !important;
    border: none !important;
    width: 50px;
    height: 50px;
  }
  .btn-style:hover{
    background-color: white;
    color: black;
    border: 1px solid rgb(97, 97, 201);
    font-family: Nunito , sans-serif;
  }
  #contained-modal-title-vcenter{
    font-family: NunitoBold , sans-serif;
    font-size: 24px;
  }